@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~material-icons/iconfont/material-icons.css';

/* You can add global styles to this file, and also import other style files */
html { 
    background-color: #99d6df;
    font-family: 'Roboto';
}

body {
    margin:0
}

mat-form-field.no-padding .mat-form-field-wrapper {
    padding-bottom: 0;
}