@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~material-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/material.theme.css";

html { 
    background-color: #99d6df;
    font-family: 'Roboto';
}

body {
    margin:0
}

ng-select.no-padding {
    padding-bottom: 0;
}

mat-form-field.no-padding .mat-form-field-wrapper {
    padding-bottom: 0;
}

button {
    height: 45px;
}