<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="panel" fxLayout="column" fxLayoutGap="15px">
        <span>Informações</span>
        <ng-select [items]="doctors"
                bindLabel="name"
                appearance="outline"
                placeholder="Nome do Médico"
                class="no-padding"
                formControlName="doctor">
        </ng-select>
        <mat-form-field appearance="outline" class="no-padding">
            <mat-label>Nome do Paciente</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px" fxFlex>
            <mat-form-field appearance="outline" class="no-padding" fxFlex>
                <mat-label>CPF</mat-label>
                <input matInput mask="000.000.000-00" formControlName="cpf">
                <mat-icon *ngIf="invalidCpf && showSuffix" matSuffix class="red-icon">cancel</mat-icon>
                <mat-icon *ngIf="!invalidCpf && showSuffix" matSuffix class="green-icon">check_circle</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="no-padding" fxFlex>
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="phoneNumber">
            </mat-form-field>
        </div>

        <span>Endereço</span>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="outline" class="no-padding">
                <mat-label>CEP</mat-label>
                <input matInput mask="00000-000" formControlName="zipCode">
            </mat-form-field>
            <mat-form-field appearance="outline" class="no-padding">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="city" [ngxInputLoader]="loadingZipCode">
            </mat-form-field>
            <mat-form-field appearance="outline" class="no-padding">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="state" [ngxInputLoader]="loadingZipCode">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field appearance="outline" class="no-padding" fxFlex="50">
                <mat-label>Rua</mat-label>
                <input matInput formControlName="streetName" [ngxInputLoader]="loadingZipCode">
            </mat-form-field>
            <mat-form-field appearance="outline" class="no-padding" fxFlex="25">
                <mat-label>Número</mat-label>
                <input matInput formControlName="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="no-padding" fxFlex="25">
                <mat-label>Complemento</mat-label>
                <input matInput formControlName="additionalInfo">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="no-padding" fxFlex="50">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="neighborhood" [ngxInputLoader]="loadingZipCode">
            </mat-form-field>
        </div>

        <span>Observação</span>
        <mat-form-field appearance="outline" class="no-padding">
            <textarea  matInput formControlName="observation"></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
            <button mat-raised-button color="basic" type="button" (click)="close(false)">FECHAR</button>
            <button mat-flat-button type="submit" color="primary">SALVAR</button>
        </div>
    </div>
</form>