table {
    width: 100%;
}
.title{
    font-weight: bold;
    font-size: 30px;
}

.mat-table{
    width: 80vw;
    max-width: 1500px;
}

.mat-column-name {
    width: 25%;
    padding-right: 20px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
    text-align: center;
}

.mat-card-header-text {
    width: 100% !important;
}

.add {
    height: 45px;
}

.mat-card-content {
    margin-top: 20px;
}