<mat-toolbar>
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start" class="menu">
      <button mat-button (click)="goToPatients()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Pacientes</span>
        </div>
      </button>
      <button mat-button (click)="openWipWarning()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Médicos</span>
        </div>
      </button>
      <button mat-button (click)="openWipWarning()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Medicamentos</span>
        </div>
      </button>
      <button mat-button (click)="openWipWarning()">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Prescrições</span>
        </div>
      </button>
    </div>
    <button mat-button class="logout-btn" (click)="logout()">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>SAIR</span>
        <mat-icon>logout</mat-icon>
      </div>
    </button>
  </div>
</mat-toolbar>