<div class="container" fxLayout fxLayoutAlign="space-around center">
    <div class="panel" fxLayout="column" fxLayoutGap="15px">
        <span class="title">
            Mercy Hospital
        </span>
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
            <div fxLayout="column" fxLayoutGap="15px">
                <mat-form-field appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">ENTRAR</button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <button mat-stroked-button (click)="goToSignUp()" color="primary">CADASTRAR</button>
    </div>
</div>
